body {
    font-family: Roboto;
    color: #757575;
}

.p-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121
}

.p-link:hover {
    color: #2196F3
}

.p-link:focus {
    color: #2196F3
}

.p-button {
    font-weight: 500;
    font-size: 16px;
    align-content: center;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
}

.p-button:hover {
    background: #2196F3;
    color: #ffffff;
}

.p-button:focus {
    background: #2196F3;
    color: #ffffff;
}

.p-ul li {
    height: 404px;
    width: 370px;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
}

.p-ul li:hover {
    border-color: #2196F3;
    border-style: solid
}

.p-h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
}

.p-footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}