:root {
    --base-color: #757575;
    --bg-base-color: #FFFFFF;
    --header-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--base-color);
}

h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
}

h2,
h3,
h4 {
    color: var(--header-color);
}

.top-logo,
.bottom-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #212121;
    text-decoration: none;
}

.bottom-logo {
    color: var(--base-color);
}

.top-logo>span,
.bottom-logo>span {
    color: #2196F3;
}

.f-menu-list,
.f-contacts-list,
.f-services-list,
.what-doing-list,
.team-list,
.basement-list,
.button-list,
.progect-list {
    list-style-type: none;
}

.f-menu-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #212121;
    text-decoration: none;
}

#current-page {
    color: #2196F3;
}

.f-menu-item:hover,
.f-menu-iten:focus {
    color: #2196F3;
}

.f-contacts-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--base-color);
    text-decoration: none;
}

.f-contacts-item:hover,
.f-contacts-item:focus {
    color: #2196F3;
}

.bg {
    background: #2F303A;
    color: var(--bg-base-color);
    text-align: center;
}

.bg>button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: none;
    background-color: #2196F3;
    color: var(--bg-base-color);
}

.bg>button:hover,
.bg>button:focus {
    border: 1px solid #d80d0d;
}

.f-services-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--base-color);
}

.what-doing>h2 {
    text-align: center;
}

.what-doing-item {
    text-align: left;
}

.team {
    text-align: center;
    background-color: #F5F4FA;
}

.basement {
    color: var(--base-color);
    background-color: #2F303A;
}

.basement-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--base-color);
    text-decoration: none;
}

.basement-item:hover,
.basement-item:focus {
    color: var(--bg-base-color);
}

.basement>address {
    font-style: normal;
}

.basement>address>h4 {
    color: var(--base-color);
}

.p-button {
    font-weight: 500;
    font-size: 16px;
    align-content: center;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
}

.p-button:hover,
.p-button:focus {
    background-color: #2196F3;
    color: var(--bg-base-color);
}

#p-button1 {
    background-color: #2196F3;
    color: var(--bg-base-color);
}

.progect-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.progect-item:hover,
.progect-item:focus {
    border: 1px solid #2196F3;
}