/* Задання CSS-змінних */
:root {
    --base-color: #757575;
    --base-color2: #FFFFFF;
    --header-color: #000000;
    --menu-item-color: #212121;
    --select-color: #2196F3;
    --background-dark: #2F303A;
    --background-light: #F5F4FA;
}

/* Глобальні CSS-стилі */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--base-color);
}

/* Стилі заголовків */
.my-header1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363636;
    letter-spacing: 0.06em;
    text-align: center;
}

.my-header2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.171944;
    letter-spacing: 0.03em;
    text-align: center;
}

.my-header3-1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172143;
    letter-spacing: 0.03em;
}

.my-header3-3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.my-header3-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.171875;
    letter-spacing: 0.03em;
    text-align: center;
}

.my-header2,
.my-header3-1,
.my-header3-2,
.my-header3-3 {
    color: var(--header-color);
}

/* Прибирання крапок в Тегу <li> */
.f-menu-list,
.f-contacts-list,
.f-services-list,
.what-doing-list,
.team-list,
.basement-list,
.button-list,
.project-list {
    list-style-type: none;
}

/* Стилі у HOVER і FOCUS*/
.f-menu-item:hover,
.f-menu-iten:focus,
.f-contacts-item:hover,
.f-contacts-item:focus {
    color: var(--select-color);
}

/* Стилі у HEDER і FOOTER*/
/*          Верхній-Нижній Логотипи */

.top-logo,
.bottom-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192308;
    letter-spacing: 0.03em;
    color: var(--menu-item-color);
    text-decoration: none;
}

.top-logo>span,
.bottom-logo>span {
    color: var(--select-color);
}

.bottom-logo {
    color: var(--base-color2);
}

/*                           HEDER */
.f-menu-item,
.f-contacts-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172143;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.f-menu-item {
    color: var(--menu-item-color);
}

.f-contacts-item {
    color: var(--base-color);
}

#current-page {
    color: var(--select-color);
}



/*                          FOOTER */
.basement {
    color: var(--base-color);
    background-color: var(--background-dark);
}

.basement>address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--base-color2);
}

.basement-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714286;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.basement-item:hover,
.basement-item:focus {
    color: var(--base-color2);
}


/* Сторінка СТУДІЯ */
/* Стилі у MAIN */
/*                              Блок BG */
.bg {
    background: var(--background-dark);
    color: var(--base-color2);
    text-align: center;
}

.bg>button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
    background-color: var(--select-color);
    color: var(--base-color2);
}

/*                              Блок СЕРВІСИ */
.f-services-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714286;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--base-color);
}

.what-doing-item {
    text-align: left;
}

/*                              Блок КОМАНДА */
.team {
    background-color: var(--background-light);
}

.team-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.171875;
    letter-spacing: 0.03em;
    text-align: center;
}

/* Сторінка ПОРТФОЛІО */
/*                              Блок КНОПКИ */
.p-button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    background: var(--background-light);
    border-radius: 4px;
}

.p-button:hover,
.p-button:focus {
    background-color: var(--select-color);
    color: var(--base-color2);
}

#p-button1 {
    background-color: var(--select-color);
    color: var(--base-color2);
}

/*                              Блок ПРОЄКТИ */
.project-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--base-color);
    text-decoration: none;
}